<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trello++</title>
  <link rel="stylesheet" href="popup.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
  <div id="trelloplusplus">
    <v-app>
      <v-system-bar class="d-flex justify-space-between" style="position: sticky;
      top: 0px;
      z-index: 4;">
        <v-img src="../images/logo16.png" height="18px" contain></v-img>
        <v-progress-circular color="#039BE5" :indeterminate="fetching" size="19" @click="fetch"
          :class="`d-${!logged && 'none'}`"></v-progress-circular>
        <v-menu :close-on-content-click='false'>
          <template v-slot:activator="{ on }">
            <v-btn dark v-on="on" icon width="fit-content">
              <v-icon size='20' color="#BDBDBD" class="mr-0">mdi-cogs</v-icon>
          </template>
          <v-list dense tile max-height="200px" class="py-0">
            <v-list-item>
              <v-switch v-model="showAll" :loading='false' class="my-0" label="Show All "
                style="max-height: 30px;"></v-switch>
            </v-list-item>
            <v-list-item>
              <a href="/options/options.html" target="_blank" class="body-1"  color="#BDBDBD">
                Options
              </a>
            </v-list-item>
          </v-list>
        </v-menu>

      </v-system-bar>
      <v-content>
        <v-container>
          <v-select v-model="selectedBoard" @change="filterByBoardId(selectedBoard)" :items="boards"
            label="Choose a board" item-text="name" item-value="id">
          </v-select>
          <v-chip-group v-model="selectedList" mandatory show-arrows active-class="primary--text"
            next-icon="mdi-drag-vertical" prev-icon="mdi-drag-vertical" @change="filterByListId(selectedList)">
            <v-chip v-for="list in filtredLists" :key="list.id" :value="list.id" label close
              @click:close="removeList(list.id)">
              {{ list.name }}
            </v-chip>
          </v-chip-group>
          <v-expansion-panels class="mt-2">
            <v-expansion-panel v-for="(card, index) in filtredCards" :key="card.id">
              <v-expansion-panel-header hide-actions class="d-block">
                <span style="background-color:#b3d4fc; border-radius: 5px; padding: 1px;">#{{card.idShort}}</span> -
                {{card.name.replace(/\((\?|\d+\.?,?\d*)\)/, '').replace(/\[(\?|\d+\.?,?\d*)\]/, '')}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                {{card.desc}}
              </v-expansion-panel-content>
              <v-card-actions class="pl-6">
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn small v-on="on" class="body-2 mr-2">
                      Move
                    </v-btn>
                  </template>
                  <v-list dense tile max-height="200px" class="py-0">
                    <v-list-item dense :inactive=false v-for="(list, index) in destinationLists" :key="list.id"
                      @click="move(card, index, list.id)" style="background-color: white">
                      {{ list.name }}
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn min-width="unset" small v-on="on"
                      class="blue lighten-2 white--text font-weight-bold body-2 mr-2">
                      {{ card.name.match(/\((\?|\d+\.?,?\d*)\)/) ? card.name.match(/\((\?|\d+\.?,?\d*)\)/)[0].replace(/[{()}]/g, '') : 'Es'}}
                    </v-btn>
                  </template>
                  <v-list dense tile max-height="200px" class="py-0">
                    <v-list-item dense :inactive=false v-for="(point, index) in POINTS_SCALE" :key="point"
                      @click="estimate(point, card.id)" style="background-color: white">
                      {{point}}
                    </v-list-item>
                  </v-list>
                </v-menu>
                <v-menu bottom origin="center center" transition="scale-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn min-width="unset" small class="blue lighten-3 white--text font-weight-bold body-2" v-on="on">
                      {{ card.name.match(/\[(\?|\d+\.?,?\d*)\]/) ? card.name.match(/\[(\?|\d+\.?,?\d*)\]/)[0].replace(/[\[\]']+/g, '') : 'PEs'}}
                    </v-btn>
                  </template>
                  <v-list dense tile max-height="200px" class="py-0">
                    <v-list-item dense :inactive=false v-for="(point, index) in POINTS_SCALE" :key="point"
                      @click="postEstimate(point, card.id)" style="background-color: white">
                      {{point}}
                    </v-list-item>
                  </v-list>
                </v-menu>
                <div class="ml-auto mr-2">
                  <a :href="card.shortUrl" target="_blank">
                    <v-icon small>mdi-open-in-new</v-icon>
                  </a>
                  <!-- <v-icon small @click="test(card)">mdi-content-copy</v-icon> -->
                </div>
              </v-card-actions>

            </v-expansion-panel>
          </v-expansion-panels>
          <v-snackbar v-model="undoing" :timeout=3000 right top>
            <v-icon class="mt-6" @click="undo" color="#039BE5">mdi-undo-variant</v-icon>
          </v-snackbar>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://api.trello.com/1/client.js?key=23ae2ad25ad0c4a9e5459765ca6f3333"></script>
  <script src="popup.js"></script>

</body>

</html>