<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trello++</title>
  <link rel="stylesheet" href="popup.css">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
</head>

<body>
  <div id="trelloplusplus">
    <v-app>
      <v-system-bar class="d-flex justify-space-between" style="position: sticky;
      top: 0px;
      z-index: 4;">
        <span class="body-1">Trello++</span>
        <v-progress-circular :indeterminate="fetching" size="19" @click="fetch" :class="`d-${!logged && 'none'}`" style="right: 5vw;"></v-progress-circular>
        <a href="/options/options.html" target="_blank">
          <v-icon size='24' color="#BDBDBD" class="mr-0">mdi-account-outline</v-icon>
        </a>
      </v-system-bar>
      <v-content>
        <v-container>
          <v-select v-model="selectedBoard" @change="filterByBoardId(selectedBoard)" :items="boards"
            label="Choose a board" item-text="name" item-value="id">
          </v-select>
          <v-chip-group v-model="selectedList" mandatory show-arrows active-class="primary--text"
            next-icon="mdi-drag-vertical" prev-icon="mdi-drag-vertical" @change="filterByListId(selectedList)">
            <v-chip v-for="list in filtredLists" :key="list.id" :value="list.id" label small>
              {{ list.name }}
            </v-chip>
          </v-chip-group>
          <v-expansion-panels class="mt-2">
            <v-expansion-panel v-for="card in filtredCards" :key="card.id">
              <v-expansion-panel-header hide-actions>
                #{{card.idShort}} - {{card.name}}
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                {{card.desc}}
                <!-- <v-chip-group  mandatory show-arrows active-class="primary--text"
                  next-icon="mdi-drag-vertical" prev-icon="mdi-drag-vertical" @change="">
                  <v-chip v-for="list in lists" :key="list.id" :value="list.id" label small>
                    {{ list.name }}
                  </v-chip>
                </v-chip-group> -->
                <v-col cols="6" class="px-0">
                  <v-select v-model="destinationList" @change="move(card.id, destinationList)" :items="destinationLists"
                    label="Move to" item-text="name" item-value="id">
                  </v-select>
                </v-col>
              </v-expansion-panel-content>
              <v-card-actions class="d-flex">
                <v-btn small text >Code Reveiw</v-btn>
                <v-btn small text>Blocked</v-btn>
                <div class="ml-auto mr-2">
                  <a :href="card.shortUrl" target="_blank">
                    <v-icon small>mdi-open-in-new</v-icon>
                  </a>
                  <v-icon small @click="copie(card)">mdi-content-copy</v-icon>
                </div>
              </v-card-actions>

            </v-expansion-panel>
          </v-expansion-panels>
          <v-bottom-sheet v-model="undoing" inset>
            </template>
            <v-sheet class="text-center" height="75px">
              <v-icon
                class="mt-6"
                @click="undo"
              >mdi-undo-variant</v-icon>
            </v-sheet>
          </v-bottom-sheet>
        </v-container>
      </v-content>
    </v-app>
  </div>
  <script src="../lib/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://api.trello.com/1/client.js?key=23ae2ad25ad0c4a9e5459765ca6f3333"></script>
  <script src="popup.js"></script>

</body>

</html>